/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/Assets/AssetStoreTools*

/.vs/

.DS_Store

ExportedObj/
*.csproj
*.unitproj
*.sln
*.suo
*.tmp
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb

*.pidb.meta

*.apk
*.unitypackage

sysinfo.txt
